In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Easy

Вычислить вероятность выживания, если пассажиру:

- от 0 до 25 лет
- от 25 до 50 лет
- от 50 лет и старше

In [4]:
df = pd.read_csv('../data/train.csv', index_col=0, parse_dates=True)
df.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
Easy_1 = df[(df['Age'] >= 0) & (df['Age'] < 25)]
Easy_1.count() / df.count()

Survived    0.312009
Pclass      0.312009
Name        0.312009
Sex         0.312009
Age         0.389356
SibSp       0.312009
Parch       0.312009
Ticket      0.312009
Fare        0.312009
Cabin       0.235294
Embarked    0.312711
dtype: float64

In [6]:
Easy_2 = df[(df['Age'] >= 25) & (df['Age'] < 50)]
Easy_2.count() / df.count()

Survived    0.406285
Pclass      0.406285
Name        0.406285
Sex         0.406285
Age         0.507003
SibSp       0.406285
Parch       0.406285
Ticket      0.406285
Fare        0.406285
Cabin       0.490196
Embarked    0.406074
dtype: float64

In [7]:
Easy_3 = df[df['Age'] >= 50]
Easy_2.count() / df.count()

Survived    0.406285
Pclass      0.406285
Name        0.406285
Sex         0.406285
Age         0.507003
SibSp       0.406285
Parch       0.406285
Ticket      0.406285
Fare        0.406285
Cabin       0.490196
Embarked    0.406074
dtype: float64

# Normal

Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [8]:
A = df[df['Survived'] > 0]
# выжившие
B = df[(df['Sex'] == 'female') | (['Survived'] == 1)]
# дамочки (живые)
P_A = A.count()/df.count()
# соотношение выживших к общему числу пассажиров (вероятность выживания)
P_AB = B.count() / A.count()
# соотношение выживших женщин к числу выживших
P_BA = P_A * P_AB
P_BA

Survived    0.352413
Pclass      0.352413
Name        0.352413
Sex         0.352413
Age         0.365546
SibSp       0.352413
Parch       0.352413
Ticket      0.352413
Fare        0.352413
Cabin       0.475490
Embarked    0.350956
dtype: float64